# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Local
.local/